nav {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-135deg);
}
.nav-content .toggle-btn,
.nav-content span a {
  height: 50px;
  width: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
.nav-content .toggle-btn {
  font-size: 35px;
  color: white;
  background-color: #0e2431;
  z-index: 100;
  cursor: pointer;
  transform: rotate(45deg);
  transition: all 0.6s;
}
nav.open .toggle-btn {
  transform: rotate(-225deg);
}
.nav-content span {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}

nav.open .nav-content span {
  transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);
  opacity: 1;
}
.nav-content span a {
  text-decoration: none;
  background-color: #0e2431;

  transform: rotate(45deg);
}
.nav-content span a i {
  font-size: 24px;
  color: white;
  background-color: #0e2431;
  /* color: #0e2431; */
  transform: rotate(90deg);
  transform: rotate(calc(var(--i) * (90deg)));
  opacity: 0.8;
}

.nav-content span a:hover i {
  opacity: 1;
  transition: 0.2s;
}
/* Resposive */
@media (max-width: 500px) {
  nav {
    /* position: absolute; */
    top: 5px;
    left: 20px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
  }
  .nav-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav-content .toggle-btn,
  .nav-content span a {
    height: 45px;
    width: 45px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  nav.open .nav-content span {
    transform: rotate(calc(var(--i) * (120deg / 4))) translateY(90px);
    opacity: 1;
  }
  .nav-content span a i {
    font-size: 24px;
    color: #0e2431;
    /* transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px); */
    opacity: 0.8;
  }
  .nav-content span a i:nth-child(1) {
    transform: rotate(0deg);
  }
  .nav-content span a i:nth-child(2) {
    transform: rotate(0deg);
  }
  .nav-content span a i:nth-child(3) {
    transform: rotate(90deg);
  }
  .nav-content span a i:nth-child(4) {
    transform: rotate(120deg);
  }
  .nav-content span a i:nth-child(5) {
    transform: rotate(120deg);
  }
}
