* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  /* background-color: #151515; */
}
/* .body {
  height: 100vh;
  display: flex;
} */
.activeClassName {
  background: yellow;
}
